# ignore all "dot" files/directories
.*
.**/**

# whitelist desired "dot" files
!.gitignore
!.gitkeep
!.travis.yml

# excluded directories
bin/
build/
captures/

# android studio
*.iml

# gradle
local.properties